flows.json
[{"id":"f7bce8c8.4ea508","type":"tab","label":"Nutritional Dashboard","disabled":false,"info":""},{"id":"ec7d92a6.0e23a","type":"ui_template","z":"f7bce8c8.4ea508","group":"7550a62d.a3c7b8","name":"","order":1,"width":9,"height":8,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Visual Recognition</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n   <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\"></script>\n  <style>\n  .bg-light {\n     \n    background-color: #A42156!important;\n\t}\n\tdashboard-template h4 {\n    color: #111111 !important;\n    background-color: #A42156 !important;\n    }\n\t\n\t.custom-file {\n\t\tmargin-bottom: 14px;\n\t\t}\n\t\t\n\t.table .thead-dark th {\n\t\tcolor: #fff;\n\t\tbackground-color: #A42156;\n\t\tborder-color: #A42156;\n\t}\n\th5{\n\t    text-align: center;\n\t\t    color: #EB9E30;\n\t\t}\n\t\t.text-center {\n\t\t  text-align: center;\n\t\t}\n\t.imgdiv\n\t{\n\t\talign:center;\n\t}\n\t</style>\n</head>\n<body>\n\t<nav class=\"navbar navbar-expand-sm bg-light\">\n\t\t<div class=\"justify-content-center\">\n\t\t\t<h4 class=\"text-center\">Food Nutrition Dashboard </h4>\n\t\t</div>\n\t</nav>\n\t<br><br>\n    <div class=\"container\">\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-8\">\n\t\t\t\t\n\t\t\t\t\t<div class=\"custom-file\">\n\t\t\t\t\t\n\t\t\t\t\t\t<input type=\"file\" name=\"pic\" accept=\"image/*\" onchange=\"readURL(this);\" class=\"custom-file-input\" id=\"customFile\">\n\t\t\t\t\t\t\n\t\t\t\t\t\t<label class=\"custom-file-label\" for=\"customFile\">Choose file</label>\n\t\t\t\t\t</div>\n\t\t\t\t\t<br>\n\t\t\t\t\t<div class=\"imgdiv\">\n\t\t\t\t\t\t<img src=\"#\" id=\"blah\" class=\"rounded\" alt=\"Selected Image\">\n\t\t\t\t\t</div>\n\t\t\t\t\t<!--<md-button ng-click=\"send({payload:action()})\">\n\t\t\t\t\t\tPredict\n\t\t\t\t\t</md-button>-->\n\t\t\t\t\t<button type=\"submit\" ng-click=\"send({payload:action()})\" class=\"btn btn-success\">Submit</button>\n\t\t\t\t\n\t\t\t\t\n\t\t\t</div>\n\t\t\n</body>\n</html>\n<script>\nvar x=\"\";\n    function readURL(input) {\n        if (input.files && input.files[0]) {\n            var reader = new FileReader();\n\n            reader.onload = function (e) {\n                $('#blah')\n                    .attr('src', e.target.result)\n                    .width(150)\n                    .height(200);\n            };\n\n            reader.readAsDataURL(input.files[0]);\n            x= input.files[0]\n\n            \n            \n\n        }\n    }\n    function getdata(data)\n\t{\n\t\t var html = '';\n            if(data != 0)\n\t\t\t{\n\t\t\t\t$.each(data, function(i){\n\t\t\t\tvar row = data[i];\n\t\t\t\tconsole.log(row);\n\t\t\t\thtml += '<tr>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.class;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.score;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '</tr>';\n\t\t\t});\n\t\t\t}\n\t\t\telse\n\t\t\t\thtml+=\"<div>No Data</div>\";\n\t\t\t$('#scoretable').html(html);\n\t}\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n            getdata(data);\n\n        });\n    })(scope);\n    \n    \n// or overwrite value in your callback function ...\nthis.scope.action = function() { return x; }\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":140,"wires":[["f8b62b5c.cf6378"]]},{"id":"eda49091.dca58","type":"visual-recognition-v3","z":"f7bce8c8.4ea508","name":"","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/1d3dba0c-0b93-4ea9-81da-4f7c374b9fc9","image-feature":"classifyImage","lang":"en","x":430,"y":140,"wires":[["ca0ddd97.dfb1","22c64811.757398"]]},{"id":"ca0ddd97.dfb1","type":"function","z":"f7bce8c8.4ea508","name":"Process Results","func":"if (typeof msg.result == 'undefined') {\n    return null;\n}\n\n// Text Extraction\nif (typeof msg.result.images[0].text != 'undefined') {\n    var image_text = msg.result.images[0].text;\n    msg.payload = image_text;\n    msg.template = image_text;\n    if( image_text.length >0 ) {\n       msg.template= \"Watson found the words: \"+image_text;\n    }\n    return msg;\n}\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n            bestcolor = i;\n            colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( !object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n            bestItem = i;\n            itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n     if( bestcolor != \"-1\") {\n        // found a color\n        item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n        bestcolor = -1;\n    } else {\n       item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n    }\n//    say = say + \" Watson's \" + msg.result.images[0].classifiers[c_id].name + \" classifier thinks this picture contains a \" + item +\".\";\n    //say = say + \" Watson thinks this picture contains \" + item +\".\";\n    say = say + \" Watson thinks this picture contains \" + msg.result.images[0].classifiers[0].classes[0].class +\".\";\n}\nmsg.payload =  say;\n// msg.food = msg.result.images[0].classifiers[0];\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\n\nmsg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 440px; margin-top: 10px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\nmsg.template=msg.template+\"<h2>\"+say+\"</h2><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":140,"wires":[["cc4f677d.a27998","b8f5e73f.007dc8","ad440fd.d3215f"]]},{"id":"b8f5e73f.007dc8","type":"ui_template","z":"f7bce8c8.4ea508","group":"72c1f8eb.2c7688","name":"Results Table","order":1,"width":9,"height":10,"format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":920,"y":140,"wires":[[]]},{"id":"cc4f677d.a27998","type":"debug","z":"f7bce8c8.4ea508","name":"What did Watson find?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":80,"wires":[]},{"id":"ad440fd.d3215f","type":"change","z":"f7bce8c8.4ea508","name":"Food classification","rules":[{"t":"set","p":"food","pt":"msg","to":"result.images[0].classifiers[0].classes[0].class","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":200,"wires":[["510ee12f.da3ce"]]},{"id":"510ee12f.da3ce","type":"switch","z":"f7bce8c8.4ea508","name":"Food?","property":"food","propertyType":"msg","rules":[{"t":"eq","v":"non-food","vt":"str"},{"t":"neq","v":"non-food","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":280,"wires":[["9a560583.7ebd48"],["dc7e0790.1946e8","6d4fbe32.ffe41","174c6ee7.36cb41"]]},{"id":"9a560583.7ebd48","type":"function","z":"f7bce8c8.4ea508","name":"Not a Food - Empty Table","func":"msg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 440px; margin-top: 10px; }\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #FFFFFF; width: 50%;}\";\n\nmsg.template=msg.template+\"</style><h1>Not Valid <br> Please provide a valid food item </h1>\";\nmsg.template = msg.template;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":280,"wires":[["f8c16467.3b0918","6335731e.5fe1cc"]]},{"id":"f8c16467.3b0918","type":"ui_template","z":"f7bce8c8.4ea508","group":"49c3369d.5b13d8","name":"Nutrients Table","order":1,"width":9,"height":9,"format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1100,"y":280,"wires":[[]]},{"id":"2e7b749a.a9cc9c","type":"ui_audio","z":"f7bce8c8.4ea508","name":"","group":"72c1f8eb.2c7688","voice":"Google US English","always":true,"x":860,"y":340,"wires":[]},{"id":"dc7e0790.1946e8","type":"function","z":"f7bce8c8.4ea508","name":"USDA API url","func":"msg.url = \"https://api.nal.usda.gov/fdc/v1/foods/search?api_key=SCjt8DEuvVebabi5DbzX7sGqMwhHjq81NUDL8aCT&query=\"+msg.food;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":460,"wires":[["3cb22588.5f2d1a"]]},{"id":"3cb22588.5f2d1a","type":"http request","z":"f7bce8c8.4ea508","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":460,"wires":[["9ef3b783.f400a8","fe9eede1.c9b0e"]]},{"id":"9ef3b783.f400a8","type":"debug","z":"f7bce8c8.4ea508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":460,"wires":[]},{"id":"174c6ee7.36cb41","type":"debug","z":"f7bce8c8.4ea508","name":"What type of food?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"food","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":400,"wires":[]},{"id":"6335731e.5fe1cc","type":"watson-text-to-speech","z":"f7bce8c8.4ea508","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_EmilyV3Voice","voicehidden":"en-US_EmilyV3Voice","format":"audio/wav","password":"","apikey":"6H7_ve1UfKXZPF4fbx6bxrZw9Q_kIqsBVLd1-whQGUoC","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/c5376d87-0125-4ebc-a45e-42319d1b20a7","x":680,"y":340,"wires":[["2e7b749a.a9cc9c"]]},{"id":"6d4fbe32.ffe41","type":"change","z":"f7bce8c8.4ea508","name":"Announce food","rules":[{"t":"set","p":"payload","pt":"msg","to":"food","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":340,"wires":[["6335731e.5fe1cc"]]},{"id":"fe9eede1.c9b0e","type":"function","z":"f7bce8c8.4ea508","name":"Build Nutrition Table","func":"msg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 440px; margin-top: 10px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\nmsg.template=msg.template+\"<h2>Ingredients:</h2>\"+\"<p>\"+msg.payload.foods[0].food+\"</p><table span=100%><tr><th>Nutritional Information</th><th>Value</th></tr>\";\nvar arrayLength = msg.payload.foods[0].foodNutrients.length;\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + msg.payload.foods[0].foodNutrients[i].nutrientName + \"</td><td>\" + msg.payload.foods[0].foodNutrients[i].value+ msg.payload.foods[0].foodNutrients[i].unitName + \"</td></tr>\";\n  if (msg.payload.foods[0].foodNutrients[i].nutrient_id==269) msg.sugar = msg.payload.foods[0].food.nutrients[i].value;\n  if (msg.payload.foods[0].foodNutrients[i].nutrient_id==204) msg.fat = msg.payload.foods[0].food.nutrients[i].value;\n}\nmsg.template = msg.template + \"</table>\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":560,"wires":[["f8c16467.3b0918"]]},{"id":"f8b62b5c.cf6378","type":"function","z":"f7bce8c8.4ea508","name":"","func":"msg.params = {\"classifier_ids\":\"food\"}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":140,"wires":[["eda49091.dca58"]]},{"id":"22c64811.757398","type":"debug","z":"f7bce8c8.4ea508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":80,"wires":[]},{"id":"7550a62d.a3c7b8","type":"ui_group","name":"Food Image","tab":"94c1746.e7d2f88","order":2,"disp":true,"width":"12","collapse":false},{"id":"72c1f8eb.2c7688","type":"ui_group","name":"Results","tab":"94c1746.e7d2f88","order":3,"disp":true,"width":9,"collapse":false},{"id":"49c3369d.5b13d8","type":"ui_group","name":"Nutrition content","tab":"94c1746.e7d2f88","order":4,"disp":true,"width":9,"collapse":false},{"id":"94c1746.e7d2f88","type":"ui_tab","name":"NUTRITIONAL ANALYSIS","icon":"dashboard","disabled":false,"hidden":false}]